$palewhite-col: #ECEAEB;
$darkgold-col: #C49B69;
$lightgold-col: #E3CFB7;
$navradial-grad: radial-gradient(circle, rgba(30, 31, 42, 1) 40%, rgba(2, 2, 5, 1) 100%);

$basicwhite-col: white;
$whitevioletish-col: #E0E0EC;
$whiteblueish-col: rgb(237, 247, 248);
$lightbeige-col: #D8BDB5;
$pinegreen-col: #669198;

$dirtywhite-col: #FBFBFB;
$darkblue-col: #293843;
$lightgrey-col: #ACBCC7;
$impureblack-col: #20212B;

$dark-shadow: 2px 3px 6px #000000;
$light-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);