*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    overflow-x: hidden;
    font-size: 54.75%;

    @include tablet {
        font-size: 58.75%;
    }

    @include desktop {
        font-size: 62.5%;
    }
}

.no-display-mobile {
    display: none;

    @include desktop {
        display: block;
    }
}

.no-display-desktop {
    display: block;

    @include desktop {
        display: none;
    }
}

.link-regular {
    all: unset;
    text-decoration: underline;
    color: $lightbeige-col;
    font-family: "NotoSans Semibold";
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
    }
}

// -----------//// FORM STYLING ////-----------

.form-group {
    margin-top: 1.5rem;

    &:last-of-type {
        margin-bottom: 4rem;
    }
}

.basic-label {
    color: $pinegreen-col;
}

.basic-input {
    background-color: transparent;
    border: 0;
    padding: 1rem 0;
    color: white;
    border-bottom: 1.5px solid $basicwhite-col;
    width: 95%;

    &::placeholder {
        color: $basicwhite-col;
    }
}

// -----------//// PADDINGS ////-----------

section {
    padding: 1.5rem 2rem;

    @include tablet {
        padding: 2rem 5.75rem;
    }
}

article {
    padding: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 2rem 0 1rem 0;
}

p {
    padding: 2rem 0;
}