*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    overflow-x: hidden;
    font-size: 54.75%;

    @include tablet {
        font-size: 62.5%;
    }
}

.no-display {
    display: none;
}

.link-regular {
    all: unset;
    text-decoration: underline;
    color: $lightbeige-col;
    font-family: "NotoSans Semibold";
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
    }
}

// -----------//// PADDINGS ////-----------

.form-group {
    margin-top: 1.5rem;

    &:last-of-type {
        margin-bottom: 4rem;
    }
}

.basic-label {
    color: $pinegreen-col;
}

.basic-input {
    background-color: transparent;
    border: 0;
    padding: 1rem 0;
    color: white;
    border-bottom: 1.5px solid $basicwhite-col;
    width: 95%;

    &::placeholder {
        color: $basicwhite-col;
    }
}

// -----------//// PADDINGS ////-----------

section {
    padding: 1.5rem 2rem;
}

article {
    padding: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 2rem 0 1rem 0;
}

p {
    padding: 2rem 0;
}

// -----------//// NAV MOBILE ////-----------

.nav__message {
    p {
        padding: 2px;
        text-align: center;
        background-color: $lightgold-col;
    }
}

.nav__mobile {
    background-image: url("./assets/dark-bg.PNG");
    background-size: cover;
    height: 60px;
    display: grid;
    grid-template-columns: 1.75fr 4fr 1.75fr;

    &-left {
        width: 30px;
        margin: auto;
    }

    &-center {
        width: 90px;
        margin: auto;
    }

    &-right {
        :last-child {
            padding-left: 5px;
        }

        margin: auto;
    }

    a {
        all: unset;

        &:hover {
            cursor: pointer;
        }
    }
}


.section {

    // -----------//// SECTION APP ////-----------

    &__app {
        background-image: url("./assets/dark-bg.PNG");

        &-btns {
            margin-left: calc(50% - 19rem);
        }

        h1,
        h3 {
            color: $basicwhite-col;
            letter-spacing: 1px;
        }

        p {
            color: $whitevioletish-col;
        }

        &-stats {
            padding: 2rem 0;
            display: grid;
            grid-template-columns: 1.5fr 2fr;

            img {
                transform: rotate(15deg);
            }

            &__div {
                margin: auto;
            }
        }

        &-features {
            h2 {
                color: $basicwhite-col;
            }

            img,
            h2 {
                display: inline;
            }

            img {
                margin-right: 2rem;
            }
        }
    }

    // -----------//// SECTION SCIENCE ////-----------

    &__science {

        background-color: $palewhite-col;

        &-container {
            margin: 6.75rem 0;
            max-height: 1500px;
            position: relative;

            .background-green {
                position: absolute;
                right: -2rem;
                top: 0;
                z-index: 0;
                background: url("./assets/video-overlay.png");
                background-size: cover;
                width: 60%;
                height: 100%;
            }

            .background-nature {
                position: absolute;
                left: -2rem;
                top: 30;
                z-index: 0;
                background: url("./assets/plants-bg.png");
                width: 55%;
                height: 95%;
            }


            article {
                padding: 4rem 0;
                position: relative;
                z-index: 1;
                text-align: center;


                h2 {
                    color: $basicwhite-col;
                }

                .text-4_regular {
                    color: $whiteblueish-col;
                }

                .science-fact {
                    margin: 7.5rem auto;
                    outline: 1px solid $basicwhite-col;
                    outline-offset: 1rem;
                    background-color: $palewhite-col;
                    width: 22rem;
                    height: 25rem;
                    padding: 3rem;
                    position: relative;

                    .fact-icon {
                        z-index: 3;
                        // margin-top: -6.5rem;
                        position: absolute;
                        top: -4.5rem;
                        left: calc(50% - 4rem);
                        background-color: $impureblack-col;
                        border: 1px solid $basicwhite-col;
                        padding: 2rem;
                        display: inline-block;
                        border-radius: 5rem;
                    }

                    .fact-icon img {
                        width: 4.5rem;
                    }

                    .text-5_regular {
                        margin-top: 2rem;
                        text-align: left;
                    }
                }
            }
        }

    }

    // -----------//// SECTION REFERRAL ////-----------

    &__referral {
        background-color: #1B3236;
        color: $whiteblueish-col;

        .text-2_semibold {
            color: $basicwhite-col;
        }

        &-header-wrapper {
            background-image: url("./assets/marble-bg.png");
            background-position: bottom;
            background-size: cover;
            margin: -2rem;
            padding: 6rem 4rem;
        }

        &-header-content {
            border: 1px solid $basicwhite-col;
            outline-offset: 1rem;
            padding: 1rem;
            color: $basicwhite-col;
            text-align: center;

            * {
                text-shadow: $dark-shadow;
                padding: 0;
            }
        }

        .discount-card {
            width: 250px;
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 4rem 1fr;

            .text-5_light {
                grid-column: 1/span 1
            }

            img {
                width: 100%;
                grid-row: 2/span 1;
                grid-column: 1/span 1;
            }

            .text-3_medium {
                grid-row: 2/span 1;
                grid-column: 2/span 1;
            }

            * {
                display: inline-block;
                margin: auto;
            }
        }

        form {

            button {
                margin-left: calc(50% - 8rem);
            }
        }
    }
}